@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap'); */
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif;

  --color-red: #AE380F;
  --color-primary: #F26230;
  --color-secondary: #EAA323;


  --color-ink: #1B1C1C;
  --color-ink-soft: #59413A;
  --color-ink-muted: #8a847c;

  --color-surface: #ffffff;
  --color-surface-tint: #AE380F0D;
  --color-page: #fefcfa;

  --color-border-soft: rgba(174, 56, 15, 0.2);
  --color-border-strong: #e2d9cb;

  --color-accent: #e8631f;
  --color-accent-soft: #fdece0;
  --color-accent-softer: #fef4ec;

  --color-amber: #eba91f;
  --color-amber-soft: #fdf3dd;

  --color-success: #1f9254;
  --color-success-soft: #e6f5ec;

  --color-danger: #FF0000;
  --color-danger-soft: #FFF0F0;

  --color-info: #3f6fd1;
  --color-info-soft: #eaf0fb;

  --color-neutral-soft: #f1eee9;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: var(--color-page);
  color: var(--color-ink);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border-strong) transparent;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-border-strong);
  border-radius: 8px;
}
